@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --system-background: RGB(230, 230, 233);
    --system-app-background: rgb(27, 27, 27);

    --system-font-color: rgba(0,0,0,0);
    --system-ash-color: rgb(178, 190, 181);

    --system-border: 2px solid var(--system-app-background);
    --font-size-big: 16px; 
    --font: 'Roboto Mono', monospace;

    --color-dark: rgb(7,7,7);

    --color-blue: rgb(24, 232, 255);
    --color-blue-faded: rgba(21, 158, 221, 0.581);

    --color-purple: rgb(203, 116, 232);
    --color-purple-faded: rgba(255,89,219, 0.3);

    --color-green: rgb(60, 243, 23);
    --color-green-faded: rgba(0, 250, 67, 0.271);

    --color-yellow: rgb(245, 250, 0);
    --color-yellow-faded: rgba(255, 251, 0, 0.12);

    --color-red: rgb(240, 20, 57);
    --color-red-faded: rgb(219, 18, 51);

    --color-orange: rgb(255,69,0);
    --color-orange-pressed: rgb(100,12,0);
    --color-keybutton: rgb(229, 227, 216);
    --color-keybutton-pressed: rgb(60, 58, 58);

    font-family: var(--font);
    font-weight: 400;
    text-rendering: geometricPrecision;
}

.app {
    position: fixed;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    max-height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;

    scroll-behavior: none;
    overflow: hidden;
    
    background-color: var(--system-app-background);
    box-shadow: 12px 12px 1px rgba(0,0,0,0.6);
    border: var(--system-border);
    border-radius: 6px;

    user-select: none;
}

.utilsHolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}


.textArea {
    height: 100px;
    border: var(--system-border);
    border-radius: 6px;
    text-align: center;
    font-size: 26px;
    caret-color: transparent;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 10% 0px 10%;
    overflow: hiddend;
    cursor: default;
}

.textArea::placeholder {
    color: var(--color-orange);
    font-weight: 500;
    font-size: 20px;
}

.textArea::selection {
    color: aliceblue;
    background-color: black;
}

.textArea:focus {
    outline: none;
}

.keyboard {
    position: absolute;
    width: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    bottom: 50px;
    padding: 10px;
    box-shadow: 0px 4px 0px 6px white;
    background-color: var(--system-app-background);
}

.keyboard > :first-child > :first-child {
    border-radius: 6px 0px 0px 0px;
    background-color: var(--color-orange);
}
.keyboard > :first-child > :first-child.keypressed {
    border-radius: 6px 0px 0px 0px;
    background-color: var(--color-orange-pressed);
}
.keyboard > :first-child > :last-child {
    border-radius: 0px 6px 0px 0px;
}
.keyboard > :last-child > :first-child {
    border-radius: 0px 0px 0px 6px;
}
.keyboard > :last-child > :last-child {
    border-radius: 0px 0px 6px 0px;
}


.utilityBlock {
    cursor: grab;
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    /* background-color: var(--color-yellow); */

    border: var(--system-border);
    border-radius: 6px;

}

.utilityBlock:active {
    cursor:grabbing;
}

.utilityBlock > :first-child {
    width: auto;
    height: 100%;
    padding: 10px;
    text-align: right;
    font-size: 115%;
}

.utilityBlock > :last-child {
    width: auto;
    text-align: left;
    font-size: 150%;
    padding: 10px;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.keyButton {
    box-sizing: border-box;
    color: var(--system-font-color);
    font-size: var(--font-size-big);
    background-color: var(--color-keybutton);
    height: 30px;
    border: var(--system-border);
    text-transform: uppercase;
    transition-duration: 200ms;
}

.keypressed {
    transition-duration: 40ms;
    background-color: var(--color-keybutton-pressed);
    margin-bottom: -6px;
}


.utilityComponent {
    position: relative;
    width: 210px;
    color: var(--system-app-background);

    display: flex;
    flex-direction: column;
    background-color: var(--system-background);
}

.actionUtilsSubblock {
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.topActionsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.secondColumnWrapperBottomOne {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.defaultBlock {
    background-color: var(--system-background);
    width: 100%;
    height: 100%;
    border: var(--system-border);
    border-radius: 6px;
}

.lastFlexBasicBlock {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 100%;
}


.defaultUtilityBlock {
    background-color: var(--system-background);
    border: var(--system-border);
    border-radius: 6px;
}

.helperHeaderBlock {
    width: 100%;
    height: 100%;
    flex: 1;
}



/* Neon yellow utility */
.neon_yellow {
    transition-duration: 190ms;

    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--color-dark);
    border: 8px double var(--color-yellow);
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    margin: 2px;
    color: var(--color-yellow);
    border-radius: 70px;
    font-weight: 500;
    font-size: 18px;
}

.neon_yellow:hover {
    transition-duration: 80ms;
    opacity: 0.87;
}

.neon_yellow:active {
    transition-duration: 80ms;
    opacity: 0.8;
}

.neon_yellow > * {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.neon_yellow > :first-child {
    justify-content: right;
    width: 100%;
    height: 18px;
    text-align: right;
}

.neon_yellow > :last-child {
    justify-content: left;
    max-width: 10px;
    height: 18px;
    text-align: left;
}

/* Blocky red utility */
.blocky_red {
    transition-duration: 80ms;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 17px;
    color: white;
    background-color: var(--color-red);
}

.blocky_red:hover {
    opacity: 0.95;
}

.blocky_red:active {
    opacity: 0.88;
}

.blocky_red > * {
    display: flex;
}

.blocky_red > :first-child {
    font-weight: 500;
    padding-right: 10px;
    font-size: 22px;
    text-align: right;
    justify-content: right;
}

.blocky_red > :last-child {
    padding-right: 10px;
    align-items: center;
    font-size: 20px;
    height: 40px;
    background-color: var(--color-red-faded);
    justify-content: right;
}

.blocky_blue {
    border-radius: 12px;
    background-color: var(--color-blue-faded);
    color: var(--color-blue);
}

.blocky_white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-green);
    background-color: var(--color-green-faded);
    border-radius: 15px;
}

.blocky_white >:first-child {
    flex: 1;
    width: 100%;;
    font-size: 24px;
    text-align: left;
    font-weight: 500;
}

.blocky_white >:last-child {
    flex: 1;
    width: 100%;
    font-size: 20px;
    opacity: 0.8;
}

/* Purple block */
.glass_with_yellow {
    position: relative;
    border-radius: 17px;
    background-color: rgba(255,255,255,0.18);
    font-weight: 500;
}
.glass_with_yellow >:first-child {
    position: absolute;
    text-align: left;
    color: var(--color-yellow);
    height: fit-content;
    bottom: 7px;
    left: 7px;
}
.glass_with_yellow >:last-child {
    position: absolute;
    text-align: left;
    color: white;
    font-size: 30px;
    left: 5px;
}
.glass_with_yellow:hover {
    opacity: 0.92;
}
.glass_with_yellow:active {
    opacity: 0.86;
}

/* Purple block */
.glass_with_green {
    position: relative;
    border-radius: 17px;
    background-color: white;
}
.glass_with_green >:first-child {
    position: absolute;
    text-align: left;
    height: fit-content;
    font-weight: 500;
    color: rgb(13, 185, 247);
    bottom: 7px;
    left: 7px;
}
.glass_with_green >:last-child {
    color: black;
    font-weight: 500;
    position: absolute;
    text-align: left;
    font-size: 30px;
    left: 5px;
}
.glass_with_green:hover {
    opacity: 0.92;
}
.glass_with_green:active {
    opacity: 0.86;
}

.emptyBlockMarker {
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-size: 18px;
    background-color: var(--color-yellow);
    font-weight: 400;
}

.emptyBlockMarker::before {
    margin: 10px 0px 0px 10px;
    width: fit-content;
    height: fit-content;
    content: 'Air';
    font-weight: 600;
}

.emptyBlockMarker::after {
    margin: 10px 00px 0px 0px;
    width: fit-content;
    height: fit-content;
    content: 'keys';
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    .emptyBlockMarker {
        flex: 1;
    }   
}

@media screen and (max-width: 500px) {
    .emptyBlockMarker {
        display: none;
    }

    .wpmBlockMarker {
        flex: 1;
    }

    .utilityBlock > :first-child {
        text-align: left;
    }

    .utilityBlock > :last-child {
        text-align: right;
    }
}

@media screen and (max-width: 580px) {
    .keyboard {
        scale: calc(--width)
    }
}
